body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.player-list {
    background-color: palegoldenrod;
    border-radius: 10px;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-right: 50px;
    padding: 1em;
    width: 150px;
    min-height: 250px;
}
.player-list .current {
    font-weight: bold;
}
.game {
    background-color: #eee;
    border-radius: 10px;
    margin: auto;
    width: 400px;
    text-align: center;
}
.cards-slots {
    height: 180px;
    margin: 20px auto 0;
    width: 250px;
}

.card-back {
    font-size: 7em;
    user-select: none;
}

.deck, .discard-pile {
    height: 150px;
    width: 100px;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}
.empty {
    visibility: hidden;
}

.deck {
    background-color: cornflowerblue;
    color: darkblue;
}

.dice-tray {
    margin: 20px;
    background-color: lightgrey;
    border-radius: 10px;
    display: inline-block;
    padding: 40px;
    text-align: center;
}

.dice-tray button {
    background-color: white;
    padding: 1em 2em;
    margin-top: 2em;
    border: 1px solid grey;
    border-radius: 10px;
    width: 100px;
}

.dice-tray button:focus {
    outline: unset;
}

.dice {
    background-color: ivory;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 5px;
    user-select: none;
    cursor: pointer;
}

.dice.locked {
    background-color: grey;
}

.dice.skull {
    background-color: #2e2e2e;
}

.dice.lost {
    background-color: red;
}

.floated {
    float: left;
}

.clearfix {
    clear: both;
}

.card-face {
    user-select: none;
}

.card-face .boat {
    font-size: 4em;
}
.card-face .swords {
    margin-top: 5%;
    font-size: 1.5em;
}
.card-face.guardian {
    margin-top: 20%;
    font-size: 5em;
}
.card-face.diamond {
    margin-top: 25%;
    font-size: 4.5em;
}

.card-face.skull-1 {
    margin-top: 25%;
    font-size: 4.5em;
}
.card-face.skull-2 {
    font-size: 4.5em;
    line-height: 1em;
}

.card-face.pirate {
    margin-top: 25%;
    font-size: 4em;
}
.card-face.coins {
    margin-top: 35%;
    font-size: 4em;
}
.card-face.treasure {
    margin-top: 30%;
    font-size: 4em;
}

.card-face.animals {
    margin-top: 30%;
    font-size: 4em;
}

.skull-box {
    text-align: center;
    margin-bottom: 20px;
}
.skull-box span {
    margin: 5px;
    font-size: 1.5em;
}
.transp {
    opacity: 0.2;
}

.points-guide {
    background-color: palegoldenrod;
    border-radius: 10px;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-left: 50px;
    min-height: 250px;
    padding: 1em;
    width: 150px;
}

.points-guide span {
    display: inline-block;
    margin-right: 20px;
    text-align: right;
    width: 50px;
}
